{% extends "rest_framework/base.html" %}
{% block title %} Valchrom Admin {% endblock %}

{% block branding %}
    <a class='navbar-brand' rel="nofollow" href='https://valchrom.ut.ee'>
        Valchrom Admin <span class="version">2.0</span>
    </a>
{% endblock %}
